@font-face {
  font-family: "iconfont"; /* Project id 3175256 */
  src: url('iconfont.eot?t=1700634439222'); /* IE9 */
  src: url('iconfont.eot?t=1700634439222#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1700634439222') format('woff2'),
       url('iconfont.woff?t=1700634439222') format('woff'),
       url('iconfont.ttf?t=1700634439222') format('truetype'),
       url('iconfont.svg?t=1700634439222#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PING:before {
  content: "\e7da";
}

.icon-port:before {
  content: "\e644";
}

.icon-boce:before {
  content: "\e610";
}

.icon-xinhao:before {
  content: "\e697";
}

.icon-android:before {
  content: "\e616";
}

.icon-cert:before {
  content: "\e6d1";
}

.icon-macos:before {
  content: "\e6bb";
}

.icon-windows:before {
  content: "\edd4";
}

.icon-jujue:before {
  content: "\e62a";
}

.icon-tongguo:before {
  content: "\e62b";
}

.icon-bumenguanli:before {
  content: "\e65b";
}

.icon-user2:before {
  content: "\e667";
}

.icon-department:before {
  content: "\e6ba";
}

.icon-qiye:before {
  content: "\e637";
}

.icon-qiyexinxi:before {
  content: "\e60f";
}

.icon-Cloud-Network:before {
  content: "\ecc4";
}

.icon-sharpicons_cloud-network-:before {
  content: "\e821";
}

.icon-ip-query:before {
  content: "\e641";
}

.icon-shell:before {
  content: "\e615";
}

.icon-web:before {
  content: "\e60b";
}

.icon-yunweigongju:before {
  content: "\e60e";
}

.icon-Toolsandhardware:before {
  content: "\e627";
}

.icon-flow:before {
  content: "\e619";
}

.icon-flow-01:before {
  content: "\e74c";
}

.icon-liuliang1:before {
  content: "\ecab";
}

.icon-user1:before {
  content: "\e629";
}

.icon-wangluo:before {
  content: "\e614";
}

.icon-topo-f-:before {
  content: "\e646";
}

.icon-fitscreen24:before {
  content: "\e72a";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-router0:before {
  content: "\e604";
}

.icon-router11:before {
  content: "\e605";
}

.icon-router22:before {
  content: "\e606";
}

.icon-router:before {
  content: "\e640";
}

.icon-a-WifiRouter:before {
  content: "\e612";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-arrowleft:before {
  content: "\e626";
}

.icon-routers:before {
  content: "\ea3a";
}

.icon-cloud:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e631";
}

.icon-liuliang:before {
  content: "\e602";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-search:before {
  content: "\e82e";
}

.icon-zhongzhi:before {
  content: "\e60d";
}

.icon-xiangqing1:before {
  content: "\e61b";
}

.icon-Info:before {
  content: "\e609";
}

.icon-xiangqing:before {
  content: "\e635";
}

.icon-monitor2:before {
  content: "\e76a";
}

.icon-prompt:before {
  content: "\e742";
}

.icon-tishi1:before {
  content: "\fc2c";
}

.icon-remen:before {
  content: "\e8c9";
}

.icon-xinxi:before {
  content: "\e601";
}

.icon-ok:before {
  content: "\e63c";
}

.icon-question-circle-fill:before {
  content: "\e845";
}

.icon-tishi:before {
  content: "\e600";
}

.icon-yibantishi:before {
  content: "\e725";
}

.icon-zhongyaotishi:before {
  content: "\e6a1";
}

.icon-emergency-n:before {
  content: "\e613";
}

.icon-financial_monitoring:before {
  content: "\e60a";
}

.icon-monitor1:before {
  content: "\e645";
}

.icon-a-fileimportant-fill:before {
  content: "\e9e8";
}

.icon-gaojingjilu:before {
  content: "\e611";
}

.icon-flow-analysis:before {
  content: "\e60c";
}

.icon-logout:before {
  content: "\e68d";
}

.icon-user-center:before {
  content: "\edd5";
}

.icon-menu-close:before {
  content: "\e6d5";
}

.icon-menu-open:before {
  content: "\e618";
}

.icon-cpe:before {
  content: "\e62f";
}

.icon-site:before {
  content: "\e664";
}

.icon-loss:before {
  content: "\e652";
}

.icon-setting:before {
  content: "\e68f";
}

.icon-upgrade:before {
  content: "\e633";
}

.icon-help:before {
  content: "\e620";
}

.icon-network:before {
  content: "\e62e";
}

.icon-report:before {
  content: "\e902";
}

.icon-toggle:before {
  content: "\eb95";
}

.icon-overview:before {
  content: "\e7b9";
}

.icon-template:before {
  content: "\e607";
}

.icon-alarm:before {
  content: "\e608";
}

.icon-monitor:before {
  content: "\e6c1";
}

