//模拟边框，避免 box-sizing造成的宽度少 1px 问题，记得给父元素设置 position: relative
@mixin imitate-border {
  content: '';
  position: absolute;
  background-color: var(--el-border-color-extra-light);
}

.border-right::after {
  @include imitate-border;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}

.border-bottom::after {
  @include imitate-border;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
}
/* 当前页面最大化 css */
.main-maximize {
  .aside-split,
  .el-aside,
  .el-header,
  .el-footer,
  .tabs-box {
    display: none !important;
  }
}
