.el-container {
  width: 100%;
  height: 100%;
  :deep(.el-header) {
    .el-menu {
      flex: 1;
      overflow: hidden;
      border-bottom: none;
      .el-sub-menu__hide-arrow {
        width: 64px !important; //最小只能 64px
      }
      .el-menu-item.is-active {
        color: #ffffff !important;
      }
      .is-active {
        &::before {
          width: 0;
        }
        background-color: var(--el-color-primary) !important;
        border-bottom-color: var(--el-color-primary) !important;
       
        .el-sub-menu__title {
          color: #ffffff !important;
          background-color: var(--el-color-primary) !important;
          border-bottom-color: var(--el-color-primary) !important;
        }
      }
    }
  }

}
